.App {
  display: flex;
  flex-direction: row;
  padding: 30px;

}

.block {
  display: flex;
  flex-direction: column;
  padding: 15px;
  border: solid black;
}

.block-input {
  display: flex;
  flex-direction: row;
}

.form {
  display: flex;
  width: 30px;
  height: 30px;
  flex-flow: row;

  .button {
    display: flex;
    width: 30px;
    height: 30px;
    flex-grow: 1;


  }
}